<main>
    <div class="container py-4  ">
        <header class="pb-3 mb-4 border-bottom">

            <h1 class="h1">Jumbotron Example</h1>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Aplicatia principala</h1>
                <p class="col-md-8 fs-4">Vei fi redirectionat catre panoul principal , unde vei putea gestiona acctivitatile din service</p>
                <a class="btn btn-danger btn-lg" type="button" routerLink="/mainPage">Panou Central</a>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-danger rounded-3">
                    <h2>Aplicatia anvelope</h2>
                    <p>Aceasta e aplicatia de gestionat hotelul de anvelope</p>
                    <button class="btn btn-outline-light" type="button">Anvelope</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Alta aplicatie</h2>
                    <p>Inca nu e definita</p>
                    <button class="btn btn-outline-secondary" type="button">Spre nicaieri</button>
                </div>
            </div>
        </div>

        <footer class="pt-3 mt-4 text-muted border-top">
            &copy; 2021-2022
        </footer>
    </div>
</main>