<div class="cardcontainer">
    <div class="photo ">
        <img src="../../../assets/images/tyre-rack1.jpg">

    </div>
    <div class="content">

        <div class="shelftd">
            <div class="shelftitle">Rastelul Nr. 1</div>
            <div class="div shelfbadge">
            <div class="shelfdescription">
                <table>
                    <tr>
                        <td >Capacitate</td>
                        <td > 45 pozitii</td>
                    </tr>
                </table>
            </div>
            <div class="shellocation">
                <table>
                    <tr>
                        <td >Locatie</td>
                        <td > Tinichigerie</td>
                    </tr>
                </table>

            </div>
            </div>
        </div>
        <div class="shelfinfo">
            <table>
                <tr>
                    <td>Randuri : 5</td>
                    <td>Coloane : 6 </td>
                </tr>
                <tr>
                    <td colspan="2"> Pozitii ocupate : 20 </td>
                </tr>

            </table>
            
        </div>

    </div>
    <hr>
    <div class="footer">
         <button class="btn btn-primary">Vizualizeaza Raft</button>
    </div>
</div>







<div class="cardcontainer">
    <div class="photo ">
        <img src="../../../assets/images/tyre-rack1.jpg">

    </div>
    <div class="content">

        <div class="shelftd">
            <div class="shelftitle">Rastelul Nr. 1</div>
            <div class="div shelfbadge">
            <div class="shelfdescription">
                <table>
                    <tr>
                        <td >Capacitate</td>
                        <td > 45 pozitii</td>
                    </tr>
                </table>
            </div>
            <div class="shellocation">
                <table>
                    <tr>
                        <td >Locatie</td>
                        <td > Tinichigerie</td>
                    </tr>
                </table>

            </div>
            </div>
        </div>
        <div class="shelfinfo">
            <table>
                <tr>
                    <td>Randuri : 5</td>
                    <td>Coloane : 6 </td>
                </tr>
                <tr>
                    <td colspan="2"> Pozitii ocupate : 20 </td>
                </tr>

            </table>
            
        </div>

    </div>
    <hr>
    <div class="footer">
         <button class="btn btn-primary">Vizualizeaza Raft</button>
    </div>
</div>



<div class="cardcontainer">
    <div class="photo ">
        <img src="../../../assets/images/tyre-rack1.jpg">

    </div>
    <div class="content">

        <div class="shelftd">
            <div class="shelftitle">Rastelul Nr. 1</div>
            <div class="div shelfbadge">
            <div class="shelfdescription">
                <table>
                    <tr>
                        <td >Capacitate</td>
                        <td > 45 pozitii</td>
                    </tr>
                </table>
            </div>
            <div class="shellocation">
                <table>
                    <tr>
                        <td >Locatie</td>
                        <td > Tinichigerie</td>
                    </tr>
                </table>

            </div>
            </div>
        </div>
        <div class="shelfinfo">
            <table>
                <tr>
                    <td>Randuri : 5</td>
                    <td>Coloane : 6 </td>
                </tr>
                <tr>
                    <td colspan="2"> Pozitii ocupate : 20 </td>
                </tr>

            </table>
            
        </div>

    </div>
    <hr>
    <div class="footer">
         <button class="btn btn-primary">Vizualizeaza Raft</button>
    </div>
</div>