
      <div class="sidenav border justify-content-center">

        <ul>
          <li class="sidenav-item">
            <a routerLink="dashboard" class="sidenav-link">
              <span class="fa-fw"><i class="fa fa-home" aria-hidden="true"></i></span>
              Home
            </a>
          </li>
          <li class="sidenav-item">
            <a routerLink="info" class="sidenav-link">
              <span class="fa-fw"><i class="fa fa-user" aria-hidden="true"></i> </span>
              Users
            </a>
          </li>


        </ul>
       

      </div>


